@using AutoTrack.Domain
@{
    ViewData["Title"] = "Car Models";
}
<h1>@ViewData["Title"]</h1>

@inject AutoTrackDbContext context

<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Model</td>
        <td>Car Type</td>
        <td>Engine Type</td>
        <td>Fuel Type</td>
        <td>Seating Capacity</td>
    </tr>
    </thead>
    <tbody>
    @if (context.Vehicles != null && context.Vehicles.Any())
    {
        @foreach (var carModel in context.CarModels.OrderBy(x => x.Id))
        {
            <tr>
                <td>@carModel.Id</td>
                <td>@carModel.ModelName</td>
                <td>@carModel.CarType</td>
                <td>@carModel.EngineType</td>
                <td>@carModel.FuelType</td>
                <td>@carModel.SeatingCapacity</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="4">No car models available.</td>
        </tr>
    }
    </tbody>
</table>